@import "tailwindcss";
@import "tw-animate-css";

@import "./shadcn.css";

@config '../../tailwind.config.ts';

@theme inline {
  --color-primary: var(--primary);
  --color-red: var(--red);
  --color-black: var(--black);
}

:root {
  --primary: #4880ee;
  --red: #e84118;
  --black: #222222;
}

html,
body {
  font-family: "Noto Sans KR", sans-serif;
}
